{% extends 'account/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">Password Reset</h5>
          <p class ="text-muted">Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</p>
          <form method="post" class="form-signup">
            {% csrf_token %}
            
            <div class="form-group mb-4">
              <input type="email" class = "form-control" name="email" placeholder="Email address" autocomplete="email" maxlength="320" required="" id="id_email">
            </div>

            
            <button type="submit" style = "width:100%;" class="btn btn-primary btn-block mt-3">Reset My Password</button>
          </form>
          <p><a href="/accounts/login/">Back</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
