{% extends 'account/base.html' %}

{% block content %}
{% if companies %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SF</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_profile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'company_create' %}">Add Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_mapping' %}">Map Company</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <span class="nav-link">Hello, {{ user.username }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title bg-warning p-3 text-white text-center mb-4">User Mapped Company List</h5>
          <input id="companySearchInput" class="form-control mb-4 me-2" type="search" placeholder="Search Company" aria-label="Search">
          {% for company in companies %}
              <a href="{% url 'company_dashboard' company.id %}" target="_blank" style="text-decoration: none;" class=" text-secondary">
                <div class="card mb-3" data-company="{{ company.name }}">
                  <div class="card-body">
                    {{ company.name }}
                  </div>
                </div>
              </a>
            
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-center mb-4">Welcome, {{ user.username }}</h5>
              <p class="text-muted">You have not created nor mapped with any company. Kindly use the following buttons to proceed.</p>

              <a href="{% url 'company_create' %}" class="btn btn-warning btn-block mt-3" style="width: 49%;">Create Company</a>
              <a href="{% url 'user_mapping' %}" class="btn btn-info btn-block mt-3" style="width: 49%;">Mapping Company</a>

              <form method="post" action="/accounts/logout/">
                {% csrf_token %}
                <button style="width:99%;" class="btn btn-secondary btn-block mt-3" type="submit">Sign Out</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#companySearchInput').on('input', function () {
        updateCompanyVisibility();
      });

      function updateCompanyVisibility() {
        let searchTerm = $('#companySearchInput').val().toLowerCase();

        $('.card[data-company]').each(function () {
          let company = $(this).data('company').toLowerCase();
          if (company.includes(searchTerm) || searchTerm === '') {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      }
    });
  </script>
{% endblock %}
